<section class="about">
  <div class="container">
    <div class="about__inner clear">
      <div class="about__background">
        <div class="about__background-image"></div>

      </div>
      <div class="about__mobile">
        <div class="about__mobile-image" style="background: url('/images/about-mob.png') no-repeat 0 0; background-size: cover;">

        </div>
      </div>
      <div class="about__text">
        <h2>What is Tempest?</h2>
        <p>Tempest is a revolutionary new staffing software hitting the market like a hurricane in June 2018. It can handle any kind of organisation: from two colleagues working remotely to thousands of workers across a myriad locations.
          <br><br>
          It can manage swaps between people, handle the most complex of payment rates, ensure compliance with dozens of pieces of legislation, request the location of every worker with a single action - and that’s all before we even get to the scheduling. Batten down the hatches. It’s about to get rough.</p>
      </div>
      <div class="about__cards">
        <div class="about__cards-image">

        </div>
      </div>
    </div>
  </div>
</section>
