<footer class="footer clear">
  <div class="container">
    <a href="#" class="footer__logo">
      <svg class="icon">
        <use xlink:href="/ui/symbol-defs.svg#icon-logo"/>
      </svg>
    </a>
    <ul class="footer__links">
      <li><a href="#">terms of use</a></li>
      <li><a href="#">privacy policy</a></li>
    </ul>
  </div>
  <ul class="footer__restangle-wrapp">
    <li class="footer__restangle footer__restangle--1" data-js="move-restangle-1"></li>
    <li class="footer__restangle footer__restangle--2" data-js="move-restangle-2"></li>
    <li class="footer__restangle footer__restangle--3" data-js="move-restangle-3"></li>
  </ul>
</footer>
