<head>
	<meta charset="utf-8">
    <title><%= config.title %></title>
	<meta name="author" content="Dejan Babic (microfrontend@gmail.com)">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%- css('css/style') %>

    <!-- Favicon -->
    <link href="/images/favicon.png" rel="shortcut icon">
    <link href="/images/favicon72.png" rel="apple-touch-icon">
    <link href="/images/favicon114.png" sizes="114x114" rel="apple-touch-icon">
</head>
