<nav class="post-nav" data-js="blog-post-nav">
	<a href="#" class="post-nav__logo">
		<svg class="icon">
			<use xlink:href="/ui/symbol-defs.svg#icon-logo"/>
		</svg>
	</a>

	<div class="post-nav__close" data-js="blog-post-nav-close">
		<svg class="icon">
			<use xlink:href="/ui/symbol-defs.svg#icon-close"/>
		</svg>
	</div>

	<div class="post-nav__links-wrapp">
		<h3>New articles</h3>
		<div class="post-nav__links-inner">
			<div class="post-nav__links-circle"></div>
			<ul class="post-nav__links">
				<li class="post-nav__links-item  is-active">
					<a href="A-Storm-is-Brewing.html">A Storm is Brewing: The Choppy Seas of Temporary Working</a>
				</li>
				<li class="post-nav__links-item">
					<a href="The-Challenges-Ahead.html">The Challenges Ahead: The Rocky Road Ahead for British Employers of Temporary Workers.</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="post-nav__links-wrapp">
		<h3>Most popular</h3>
		<div class="post-nav__links-inner">
			<div class="post-nav__links-circle"></div>
			<ul class="post-nav__links">
				<li class="post-nav__links-item">
					<a href="A-Storm-is-Brewing.html">A Storm is Brewing: The Choppy Seas of Temporary Working</a>
				</li>
				<li class="post-nav__links-item">
					<a href="The-Challenges-Ahead.html">The Challenges Ahead: The Rocky Road Ahead for British Employers of Temporary Workers.</a>
				</li>
			</ul>
		</div>
	</div>

	<a href="#" class="post-nav__share">
		<svg class="icon">
			<use xlink:href="/ui/symbol-defs.svg#icon-share"/>
		</svg>
	</a>
</nav>
